# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
.DS_Store

# Environments
.venv/
venv/
.env

# Editors
.vscode/
.idea/

# Data & artifacts
data/raw/*
data/datasets/.metadata/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.csv

# uv
uv.lock

src/mas_automl.egg-info/*
